.hoverCard{
  cursor: pointer;
}

.form-control:focus {
  border-color: transparent;
  border-bottom: black solid 1px;
  box-shadow: none;
}

.formStyle input{
  border: none;
  border-bottom: black solid 1px;
}

th,td {
  border-right: 2px solid #f7f7f7;
}